In [1]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

In [3]:
# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

# Assign days as names of roulette_vector
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

In [5]:
poker_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

In [6]:
roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

In [7]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# The variable days_vector
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
 
# Assign the names of the day to roulette_vector and poker_vector
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

In [8]:
poker_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

In [9]:
roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

In [10]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <-A_vector + B_vector
  
# Print out total_vector
total_vector

[1] 5 7 9

In [11]:
# Assign to total_daily how much you won/lost on each day
total_daily <- poker_vector + roulette_vector
total_daily

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

In [12]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <- sum(roulette_vector)

# Total winnings overall
total_week <-total_poker + total_roulette

# Print out total_week
total_week

[1] -84

In [13]:
# Check if you realized higher total gains in poker than in roulette 
total_poker > total_roulette

[1] TRUE

In [14]:
# Define a new variable based on a selection
poker_wednesday <- poker_vector[3]
poker_wednesday

Wednesday
       20

In [15]:
# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2, 3, 4)]
poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

In [16]:
# Assign to roulette_selection_vector the roulette results from Tuesday up to Friday
roulette_selection_vector <- roulette_vector[2:5]
roulette_selection_vector

  Tuesday Wednesday  Thursday    Friday
      -50       100      -350        10

In [17]:
# Select poker results for Monday, Tuesday and Wednesday
poker_start <- poker_vector[c("Monday", "Tuesday", "Wednesday")]
  
# Calculate the average of the elements in poker_start
mean(poker_start)

[1] 36.66667

In [18]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0
  
# Print out selection_vector
selection_vector

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

In [19]:
# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]
poker_winning_days

   Monday Wednesday    Friday
      140        20       240

In [20]:
# Which days did you make money on roulette?
selection_vector <- roulette_vector > 0

# Select from roulette_vector these days
roulette_winning_days <- roulette_vector[selection_vector]
roulette_winning_days

Wednesday    Friday
      100        10

---

In [21]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow=TRUE, nrow=3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [23]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow=TRUE, nrow=3)

star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

In [25]:
# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [26]:
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

In [27]:
# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)

all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

In [28]:
# Box office Star Wars prequels trilogy (in millions)
phantom_menace <- c(474.5, 552.5)
attack_clones <- c(310.7, 338.7)
revenge_sith <- c(380.3, 468.5)

# Create box_office2
box_office2 <- c(phantom_menace, attack_clones, revenge_sith)

# Construct star_wars_matrix
star_wars_matrix2 <- matrix(box_office2, byrow=TRUE, nrow=3)

titles2 <- c("The Phantom Menace", "Attack of the Clones", "Revenge of the Sith")
# Name the columns with region
colnames(star_wars_matrix2) <- region

# Name the rows with titles
rownames(star_wars_matrix2) <- titles2

# Print out star_wars_matrix
star_wars_matrix2

                     US    non-US
The Phantom Menace   474.5 552.5
Attack of the Clones 310.7 338.7
Revenge of the Sith  380.3 468.5

In [29]:
# Combine both Star Wars trilogies in one matrix
all_star_wars_matrix <- rbind(star_wars_matrix, star_wars_matrix2)

all_star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
The Phantom Menace      474.500 552.5
Attack of the Clones    310.700 338.7
Revenge of the Sith     380.300 468.5

In [30]:
# Total revenue for US and non-US
total_revenue_vector <- colSums(all_star_wars_matrix)
  
# Print out total_revenue_vector
total_revenue_vector

      US   non-US
2226.279 2087.800

In [31]:
# Select the non-US revenue for all movies
non_us_all <- all_star_wars_matrix[,2]
  
# Average non-US revenue
mean(non_us_all)
  
# Select the non-US revenue for first two movies
non_us_some <- non_us_all[1:2]
  
# Average non-US revenue for first two movies
mean(non_us_some)

[1] 347.9667

[1] 281.15

In [32]:
# Estimate the visitors (Assume that the price of a ticket was 5 dollars.)
visitors <- all_star_wars_matrix / 5
  
# Print the estimate to the console
visitors

                        US      non-US
A New Hope              92.1996  62.88
The Empire Strikes Back 58.0950  49.58
Return of the Jedi      61.8612  33.16
The Phantom Menace      94.9000 110.50
Attack of the Clones    62.1400  67.74
Revenge of the Sith     76.0600  93.70

In [34]:
# Ticket price Star Wars Two trilogies
tp_new_hope <- c(5.0, 5.0)
tp_empire_strikes <- c(6.0, 6.0)
tp_return_jedi <- c(7.0, 7.0)
tp_phantom_menace <- c(4.0, 4.0)
tp_attack_clones <- c(4.5, 4.5)
tp_revenge_sith <- c(4.9, 4.9)

# Create ticket_prices
ticket_prices <- c(tp_new_hope, tp_empire_strikes, tp_return_jedi,
                   tp_phantom_menace, tp_attack_clones, tp_revenge_sith)

# Construct star_wars_matrix
ticket_prices_matrix <- matrix(ticket_prices, byrow=TRUE, nrow=6)

all_titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi", "The Phantom Menace", "Attack of the Clones", "Revenge of the Sith")
# Name the columns with region
colnames(ticket_prices_matrix) <- region

# Name the rows with titles
rownames(ticket_prices_matrix) <- all_titles

# Print out star_wars_matrix
ticket_prices_matrix

                        US  non-US
A New Hope              5.0 5.0
The Empire Strikes Back 6.0 6.0
Return of the Jedi      7.0 7.0
The Phantom Menace      4.0 4.0
Attack of the Clones    4.5 4.5
Revenge of the Sith     4.9 4.9

In [35]:
# Estimated number of visitors (in million)
visitors <- all_star_wars_matrix / ticket_prices_matrix

visitors

                        US        non-US
A New Hope               92.19960  62.88000
The Empire Strikes Back  48.41250  41.31667
Return of the Jedi       44.18657  23.68571
The Phantom Menace      118.62500 138.12500
Attack of the Clones     69.04444  75.26667
Revenge of the Sith      77.61224  95.61224

In [36]:
# US visitors
us_visitors <- visitors[,1]

# Average number of US visitors (in million)
mean(us_visitors)

[1] 75.01339

---

In [37]:
# Sex vector
sex_vector <- c("Male", "Female", "Female", "Male", "Male")

# Convert sex_vector to a factor
factor_sex_vector <- factor(sex_vector)

# Print out factor_sex_vector
factor_sex_vector

[1] Male   Female Female Male   Male
Levels: Female Male

In [38]:
?factor

factor                  package:base                   R Documentation

_F_a_c_t_o_r_s

_D_e_s_c_r_i_p_t_i_o_n:

     The function 'factor' is used to encode a vector as a factor (the
     terms 'category' and 'enumerated type' are also used for factors).
     If argument 'ordered' is 'TRUE', the factor levels are assumed to
     be ordered.  For compatibility with S there is also a function
     'ordered'.

     'is.factor', 'is.ordered', 'as.factor' and 'as.ordered' are the
     membership and coercion functions for these classes.

_U_s_a_g_e:

     factor(x = character(), levels, labels = levels,
            exclude = NA, ordered = is.ordered(x), nmax = NA)

     ordered(x, ...)

     is.factor(x)
     is.ordered(x)

     as.factor(x)
     as.ordered(x)

     addNA(x, ifany = FALSE)

_A_r_g_u_m_e_n_t_s:

       x: a vector of data, usually taking a small number of distinct
          values.

  levels: an optional vector of the unique values (as character
          strings) that 'x' might have taken.  The default is the
          unique set of values taken by 'as.character(x)', sorted into
          increasing order _of 'x'_.  Note that this set can be
          specified as smaller than 'sort(unique(x))'.

  labels: _either_ an optional character vector of labels for the
          levels (in the same order as 'levels' after removing those in
          'exclude'), _or_ a character string of length 1.  Duplicated
          values in 'labels' can be used to map different values of 'x'
          to the same factor level.

 exclude: a vector of values to be excluded when forming the set of
          levels.  This may be factor with the same level set as 'x' or
          should be a 'character'.

 ordered: logical flag to determine if the levels should be regarded as
          ordered (in the order given).

    nmax: an upper bound on the number of levels; see 'Details'.

     ...: (in 'ordered(.)'): any of the above, apart from 'ordered'
          itself.

   ifany: only add an 'NA' level if it is used, i.e.  if
          'any(is.na(x))'.

_D_e_t_a_i_l_s:

     The type of the vector 'x' is not restricted; it only must have an
     'as.character' method and be sortable (by 'order').

     Ordered factors differ from factors only in their class, but
     methods and the model-fitting functions treat the two classes
     quite differently.

     The encoding of the vector happens as follows.  First all the
     values in 'exclude' are removed from 'levels'. If 'x[i]' equals
     'levels[j]', then the 'i'-th element of the result is 'j'.  If no
     match is found for 'x[i]' in 'levels' (which will happen for
     excluded values) then the 'i'-th element of the result is set to
     'NA'.

     Normally the 'levels' used as an attribute of the result are the
     reduced set of levels after removing those in 'exclude', but this
     can be altered by supplying 'labels'.  This should either be a set
     of new labels for the levels, or a character string, in which case
     the levels are that character string with a sequence number
     appended.

     'factor(x, exclude = NULL)' applied to a factor without 'NA's is a
     no-operation unless there are unused levels: in that case, a
     factor with the reduced level set is returned.  If 'exclude' is
     used, since R version 3.4.0, excluding non-existing character
     levels is equivalent to excluding nothing, and when 'exclude' is a
     'character' vector, that _is_ applied to the levels of 'x'.
     Alternatively, 'exclude' can be factor with the same level set as
     'x' and will exclude the levels present in 'exclude'.

     The codes of a factor may contain 'NA'.  For a numeric 'x', set
     'exclude = NULL' to make 'NA' an extra level (prints as '<NA>');
     by default, this is the last level.

     If 'NA' is a level, the way to set a code to be missing (as
     opposed to the code of the missing level) is to use 'is.na' on the
     left-hand-side of an assignment (as in 'is.na(f)[i] <- TRUE';
     indexing inside 'is.na' does not work).  Under those circumstances
     missing values are currently printed as '<NA>', i.e., identical to
     entries of level 'NA'.

     'is.factor' is generic: you can write methods to handle specific
     classes of objects, see InternalMethods.

     Where 'levels' is not supplied, 'unique' is called.  Since factors
     typically have quite a small number of levels, for large vectors
     'x' it is helpful to supply 'nmax' as an upper bound on the number
     of unique values.

_V_a_l_u_e:

     'factor' returns an object of class '"factor"' which has a set of
     integer codes the length of 'x' with a '"levels"' attribute of
     mode 'character' and unique ('!anyDuplicated(.)') entries.  If
     argument 'ordered' is true (or 'ordered()' is used) the result has
     class 'c("ordered", "factor")'.  Undocumentedly for a long time,
     'factor(x)' loses all 'attributes(x)' but '"names"', and resets
     '"levels"' and '"class"'.

     Applying 'factor' to an ordered or unordered factor returns a
     factor (of the same type) with just the levels which occur: see
     also '[.factor' for a more transparent way to achieve this.

     'is.factor' returns 'TRUE' or 'FALSE' depending on whether its
     argument is of type factor or not.  Correspondingly, 'is.ordered'
     returns 'TRUE' when its argument is an ordered factor and 'FALSE'
     otherwise.

     'as.factor' coerces its argument to a factor.  It is an
     abbreviated (sometimes faster) form of 'factor'.

     'as.ordered(x)' returns 'x' if this is ordered, and 'ordered(x)'
     otherwise.

     'addNA' modifies a factor by turning 'NA' into an extra level (so
     that 'NA' values are counted in tables, for instance).

     '.valid.factor(object)' checks the validity of a factor, currently
     only 'levels(object)', and returns 'TRUE' if it is valid,
     otherwise a string describing the validity problem.  This function
     is used for 'validObject(<factor>)'.

_W_a_r_n_i_n_g:

     The interpretation of a factor depends on both the codes and the
     '"levels"' attribute.  Be careful only to compare factors with the
     same set of levels (in the same order).  In particular,
     'as.numeric' applied to a factor is meaningless, and may happen by
     implicit coercion.  To transform a factor 'f' to approximately its
     original numeric values, 'as.numeric(levels(f))[f]' is recommended
     and slightly more efficient than 'as.numeric(as.character(f))'.

     The levels of a factor are by default sorted, but the sort order
     may well depend on the locale at the time of creation, and should
     not be assumed to be ASCII.

     There are some anomalies associated with factors that have 'NA' as
     a level.  It is suggested to use them sparingly, e.g., only for
     tabulation purposes.

_C_o_m_p_a_r_i_s_o_n _o_p_e_r_a_t_o_r_s _a_n_d _g_r_o_u_p _g_e_n_e_r_i_c _m_e_t_h_o_d_s:

     There are '"factor"' and '"ordered"' methods for the group generic
     'Ops' which provide methods for the Comparison operators, and for
     the 'min', 'max', and 'range' generics in 'Summary' of
     '"ordered"'.  (The rest of the groups and the 'Math' group
     generate an error as they are not meaningful for factors.)

     Only '==' and '!=' can be used for factors: a factor can only be
     compared to another factor with an identical set of levels (not
     necessarily in the same ordering) or to a character vector.
     Ordered factors are compared in the same way, but the general
     dispatch mechanism precludes comparing ordered and unordered
     factors.

     All the comparison operators are available for ordered factors.
     Collation is done by the levels of the operands: if both operands
     are ordered factors they must have the same level set.

_N_o_t_e:

     In earlier versions of R, storing character data as a factor was
     more space efficient if there is even a small proportion of
     repeats.  However, identical character strings now share storage,
     so the difference is small in most cases.  (Integer values are
     stored in 4 bytes whereas each reference to a character string
     needs a pointer of 4 or 8 bytes.)

_R_e_f_e_r_e_n_c_e_s:

     Chambers, J. M. and Hastie, T. J. (1992) _Statistical Models in
     S_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     '[.factor' for subsetting of factors.

     'gl' for construction of balanced factors and 'C' for factors with
     specified contrasts.  'levels' and 'nlevels' for accessing the
     levels, and 'unclass' to get integer codes.

_E_x_a_m_p_l_e_s:

     (ff <- factor(substring("statistics", 1:10, 1:10), levels = letters))
     as.integer(ff)      # the internal codes
     (f. <- factor(ff))  # drops the levels that do not occur
     ff[, drop = TRUE]   # the same, more transparently

     factor(letters[1:20], labels = "letter")

     class(ordered(4:1)) # "ordered", inheriting from "factor"
     z <- factor(LETTERS[3:1], ordered = TRUE)
     ## and "relational" methods work:
     stopifnot(sort(z)[c(1,3)] == range(z), min(z) < max(z))


     ## suppose you want "NA" as a level, and to allow missing values.
     (x <- factor(c(1, 2, NA), exclude = NULL))
     is.na(x)[2] <- TRUE
     x  # [1] 1    <NA> <NA>
     is.na(x)
     # [1] FALSE  TRUE FALSE

     ## More rational, since R 3.4.0 :
     factor(c(1:2, NA), exclude =  "" ) # keeps <NA> , as
     factor(c(1:2, NA), exclude = NULL) # always did
     ## exclude = <character>
     z # ordered levels 'A < B < C'
     factor(z, exclude = "C") # does exclude
     factor(z, exclude = "B") # ditto

     ## Now, labels maybe duplicated:
     ## factor() with duplicated labels allowing to "merge levels"
     x <- c("Man", "Male", "Man", "Lady", "Female")
     ## Map from 4 different values to only two levels:
     (xf <- factor(x, levels = c("Male", "Man" , "Lady",   "Female"),
                      labels = c("Male", "Male", "Female", "Female")))
     #> [1] Male   Male   Male   Female Female
     #> Levels: Male Female

     ## Using addNA()
     Month <- airquality$Month
     table(addNA(Month))
     table(addNA(Month, ifany = TRUE))

## What's a factor and why would you use it?
There are two types of categorical variables: a **nominal categorical variable** and an **ordinal categorical variable**.

A **nominal variable** is a categorical variable **without** an implied order. This means that it is impossible to say that 'one is worth more than the other'. For example, think of the categorical variable `animals_vector` with the categories `"Elephant"`, `"Giraffe"`, `"Donkey"` and `"Horse"`. Here, it is impossible to say that one stands above or below the other. 

In contrast, **ordinal variables** do have a **natural ordering**. Consider for example the categorical variable `temperature_vector` with the categories: `"Low"`, `"Medium"` and `"High"`. Here it is obvious that `"Medium"` stands above `"Low"`, and `"High"` stands above `"Medium"`. (Low < Medium < High)

In [39]:
# Animals
animals_vector <- c("Elephant", "Giraffe", "Donkey", "Horse")
factor_animals_vector <- factor(animals_vector)
factor_animals_vector

# Temperature
temperature_vector <- c("High", "Low", "High","Low", "Medium")
factor_temperature_vector <- factor(temperature_vector, order = TRUE, levels = c("Low", "Medium", "High"))
factor_temperature_vector

[1] Elephant Giraffe  Donkey   Horse
Levels: Donkey Elephant Giraffe Horse

[1] High   Low    High   Low    Medium
Levels: Low < Medium < High

## Factor levels
Sometimes you will want to change the names of these levels for clarity or other reasons. R allows you to do this with the function `levels()`:
```r
levels(factor_vector) <- c("name1", "name2",...)
```
A good illustration is the raw data that is provided to you by a survey. A common question for every questionnaire is the sex of the respondent. Here, for simplicity, just two categories were recorded, `"M"` and `"F"`. (You usually need more categories for survey data; either way, you use a factor to store the categorical data.)
```r
survey_vector <- c("M", "F", "F", "M", "M")
```
Recording the sex with the abbreviations `"M"` and `"F"` can be convenient if you are collecting data with pen and paper, but it can introduce confusion when analyzing the data. At that point, you will often want to change the factor levels to `"Male"` and `"Female"` instead of `"M"` and `"F"` for clarity.

**Watch out**: the order with which you assign the levels is important. If you type `levels(factor_survey_vector)`, you'll see that it outputs `[1] "F" "M"`. If you don't specify the levels of the factor when creating the vector, `R` will automatically assign them **alphabetically**. To correctly map `"F"` to `"Female"` and `"M"` to `"Male"`, the levels should be set to `c("Female", "Male")`, in this order.

In [41]:
# Code to build factor_survey_vector
survey_vector <- c("M", "F", "F", "M", "M")
factor_survey_vector <- factor(survey_vector)
factor_survey_vector

[1] M F F M M
Levels: F M

In [42]:

# Specify the levels of factor_survey_vector
levels(factor_survey_vector) <- c("Female", "Male")

factor_survey_vector

[1] Male   Female Female Male   Male
Levels: Female Male

## Summarizing a factor
After finishing this course, one of your favorite functions in R will be `summary()`. This will give you a quick overview of the contents of a variable:
```r
summary(my_var)
```
Going back to our survey, you would like to know how many `"Male"` responses you have in your study, and how many `"Female"` responses. The `summary()` function gives you the answer to this question.

In [43]:
# Generate summary for survey_vector
summary(survey_vector)

   Length     Class      Mode
        5 character character

In [44]:
# Generate summary for factor_survey_vector
summary(factor_survey_vector)

Female   Male
     2      3

*Have a look at the output. The fact that you identified* `"Male"` *and* `"Female"` *as factor levels in* `factor_survey_vector` *enables R to show the number of elements for each category.*

## Battle of the sexes
You might wonder what happens when you try to compare elements of a factor. In `factor_survey_vector` you have a factor with two levels: `"Male"` and `"Female"`. But how does R value these relative to each other?

In [45]:
# Male
male <- factor_survey_vector[1]

# Female
female <- factor_survey_vector[2]

# Battle of the sexes: Male 'larger' than female?
male > female

Warning message in Ops.factor(male, female):
"'>' not meaningful for factors"

[1] NA

*By default, R returns* `NA` *when you try to compare values in a factor, since the idea doesn't make sense.*

## Ordered factors
Since `"Male"` and `"Female"` are unordered (or nominal) factor levels, R returns a warning message, telling you that the greater than operator is not meaningful. As seen before, R attaches an equal value to the levels for such factors.

But this is not always the case. Sometimes you will also deal with factors that do have a natural ordering between its categories. If this is the case, we have to make sure that we pass this information to R…

Let us say that you are leading a research team of five data analysts and that you want to evaluate their performance. To do this, you track their speed, evaluate each analyst as `"slow"`, `"medium"` or `"fast"`, and save the results in `speed_vector`.

In [46]:
# Create speed_vector
speed_vector <- c('medium', 'slow', 'slow', 'medium', 'fast')

`speed_vector` should be converted to an ordinal factor since its categories have a natural ordering. By default, the function `factor()` transforms `speed_vector` into an unordered factor. To create an ordered factor, you have to add two additional arguments: `ordered` and `levels`.
```r
factor(some_vector,
       ordered = TRUE,
       levels = c("lev1", "lev2" ...))
```
By setting the argument `ordered` to `TRUE` in the function `factor()`, you indicate that the factor is ordered. With the argument `levels` you give the values of the factor in the correct order.

In [47]:
# Convert speed_vector to ordered factor vector
factor_speed_vector <- factor(speed_vector, ordered=TRUE, levels = c('slow', 'medium', 'fast'))

# Print factor_speed_vector
factor_speed_vector

summary(factor_speed_vector)

[1] medium slow   slow   medium fast
Levels: slow < medium < fast

  slow medium   fast
     2      2      1

## Comparing ordered factors
Having a bad day at work, 'data analyst number two' enters your office and starts complaining that 'data analyst number five' is slowing down the entire project. Since you know that 'data analyst number two' has the reputation of being a smarty-pants, you first decide to check if his statement is true.

The fact that `factor_speed_vector` is now ordered enables us to compare different elements (the data analysts in this case). You can simply do this by using the well-known operators.

In [48]:
# Factor value for second data analyst
da2 <- factor_speed_vector[2]

# Factor value for fifth data analyst
da5 <- factor_speed_vector[5]

# Is data analyst 2 faster than data analyst 5?
da2 > da5

[1] FALSE

---

# Data frame

In [49]:
# Print out built-in R data frame
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

The function `head()` enables you to show the first observations of a data frame. Similarly, the function `tail()` prints out the last observations in your data set.

Both `head()` and `tail()` print a top line called the 'header', which contains the names of the different variables in your data set.

In [50]:
# Call head() on mtcars
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

The function `str()` shows you the structure of your data set. For a data frame it tells you:

    The total number of observations (e.g. 32 car types)
    The total number of variables (e.g. 11 car features)
    A full list of the variables names (e.g. mpg, cyl … )
    The data type of each variable (e.g. num)
    The first observations

In [51]:
# Investigate the structure of mtcars
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

## Creating a data frame
As a first goal, you want to construct a data frame that describes the main characteristics of eight planets in our solar system. According to your good friend Buzz, the main features of a planet are:

    The type of planet (Terrestrial or Gas Giant).
    The planet's diameter relative to the diameter of the Earth.
    The planet's rotation across the sun relative to that of the Earth.
    If the planet has rings or not (TRUE or FALSE).
    
After doing some high-quality research on [Wikipedia](http://en.wikipedia.org/wiki/Planet), you feel confident enough to create the necessary vectors: `name`, `type`, `diameter`, `rotation` and `rings`; these vectors have already been coded up in the editor. The first element in each of these vectors correspond to the first observation.

In [53]:
# Definition of vectors
name <- c("Mercury", "Venus", "Earth", 
          "Mars", "Jupiter", "Saturn", 
          "Uranus", "Neptune")
type <- c("Terrestrial planet", 
          "Terrestrial planet", 
          "Terrestrial planet", 
          "Terrestrial planet", "Gas giant", 
          "Gas giant", "Gas giant", "Gas giant")
diameter <- c(0.382, 0.949, 1, 0.532, 
              11.209, 9.449, 4.007, 3.883)
rotation <- c(58.64, -243.02, 1, 1.03, 
              0.41, 0.43, -0.72, 0.67)
rings <- c(FALSE, FALSE, FALSE, FALSE, TRUE, TRUE, TRUE, TRUE)

# Create a data frame from the vectors
planets_df <- data.frame(name, type, diameter, rotation, rings)

planets_df

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
5 Jupiter Gas giant          11.209      0.41   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
8 Neptune Gas giant           3.883      0.67   TRUE

In [54]:
# Check the structure of planets_df
str(planets_df)

'data.frame':	8 obs. of  5 variables:
 $ name    : Factor w/ 8 levels "Earth","Jupiter",..: 4 8 1 3 2 6 7 5
 $ type    : Factor w/ 2 levels "Gas giant","Terrestrial planet": 2 2 2 2 1 1 1 1
 $ diameter: num  0.382 0.949 1 0.532 11.209 ...
 $ rotation: num  58.64 -243.02 1 1.03 0.41 ...
 $ rings   : logi  FALSE FALSE FALSE FALSE TRUE TRUE ...

## Selection of data frame elements
Similar to vectors and matrices, you select elements from a data frame with the help of square brackets `[ ]`. By using a comma, you can indicate what to select from the rows and the columns respectively. For example:

`my_df[1,2]` selects the value at the first row and second column in `my_df`.
`my_df[1:3,2:4]` selects rows 1, 2, 3 and columns 2, 3, 4 in `my_df`.
Sometimes you want to select all elements of a row or column. For example, `my_df[1, ]` selects all elements of the first row.

In [55]:
# Print out diameter of Mercury (row 1, column 3)
planets_df[1, 3]

[1] 0.382

In [56]:
# Print out data for Mars (entire fourth row)
planets_df[4,]

  name type               diameter rotation rings
4 Mars Terrestrial planet 0.532    1.03     FALSE

Instead of using numerics to select elements of a data frame, you can also use the variable names to select columns of a data frame.

Suppose you want to select the first three elements of the `type` column. One way to do this is
```r
planets_df[1:3,2]
```
A possible disadvantage of this approach is that you have to know (or look up) the column number of `type`, which gets hard if you have a lot of variables. It is often easier to just make use of the variable name:
```r
planets_df[1:3,"type"]
```

In [57]:
# Select first 5 values of diameter column
planets_df[1:5, 'diameter']

[1]  0.382  0.949  1.000  0.532 11.209

## Only planets with rings
You will often want to select an entire column, namely one specific variable from a data frame. If you want to select all elements of the variable `diameter`, for example, both of these will do the trick:
```r
planets_df[,3]
planets_df[,"diameter"]
```
However, there is a short-cut. If your columns have names, you can use the `$` sign:
```r
planets_df$diameter
```

In [58]:
# Select the rings variable from planets_df
rings_vector <- planets_df$rings
  
# Print out rings_vector
rings_vector

[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

You probably remember from high school that some planets in our solar system have rings and others do not. Unfortunately you can not recall their names. Could R help you out?

If you type `rings_vector` in the console, you get:
```r
[1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE
```
This means that the first four observations (or planets) do not have a ring (`FALSE`), but the other four do (`TRUE`). However, you do not get a nice overview of the names of these planets, their diameter, etc. 

Let's try to use `rings_vector` to select the data for the four planets with rings.

In [59]:
# Adapt the code to select all columns for planets with rings
planets_df[rings_vector, ]

  name    type      diameter rotation rings
5 Jupiter Gas giant 11.209    0.41    TRUE
6 Saturn  Gas giant  9.449    0.43    TRUE
7 Uranus  Gas giant  4.007   -0.72    TRUE
8 Neptune Gas giant  3.883    0.67    TRUE

## Only planets with rings but shorter
So what exactly did you learn in the previous exercises? You selected a subset from a data frame (`planets_df`) based on whether or not a certain condition was true (rings or no rings), and you managed to pull out all relevant data. Pretty awesome! By now, NASA is probably already flirting with your CV ;-).

Now, let us move up one level and use the function `subset()`. You should see the `subset()` function as a short-cut to do exactly the same as what you did in the previous exercises.
```r
subset(my_df, subset = some_condition)
```
The first argument of `subset()` specifies the data set for which you want a subset. By adding the second argument, you give R the necessary information and conditions to select the correct subset.

The code below will give the exact same result as you got in the previous exercise, but this time, you didn't need the `rings_vector`.
```r
subset(planets_df, subset = rings)
```

In [60]:
# Select planets with diameter < 1
subset(planets_df, subset = diameter < 1)

  name    type               diameter rotation rings
1 Mercury Terrestrial planet 0.382      58.64  FALSE
2 Venus   Terrestrial planet 0.949    -243.02  FALSE
4 Mars    Terrestrial planet 0.532       1.03  FALSE

*Not only is the* `subset()` *function more concise, it is probably also more understandable for people who read your code.*

## Sorting
Making and creating rankings is one of mankind's favorite affairs. These rankings can be useful (best universities in the world), entertaining (most influential movie stars) or pointless (best 007 look-a-like).

In data analysis you can sort your data according to a certain variable in the data set. In R, this is done with the help of the function `order()`.

`order()` is a function that gives you the ranked position of each element when it is applied on a variable, such as a vector for example:

In [61]:
a <- c(100, 10, 1000)
order(a)

[1] 2 1 3

10, which is the second element in `a`, is the smallest element, so 2 comes first in the output of `order(a)`. 100, which is the first element in a is the second smallest element, so 1 comes second in the output of `order(a)`.

This means we can use the output of `order(a)` to reshuffle `a`:

In [62]:
a[order(a)]

[1]   10  100 1000

A sort on the `diameter` column.

In [63]:
# Use order() to create positions
positions <- order(planets_df$diameter)

# Use positions to sort planets_df
planets_df[positions, ]

  name    type               diameter rotation rings
1 Mercury Terrestrial planet  0.382     58.64  FALSE
4 Mars    Terrestrial planet  0.532      1.03  FALSE
2 Venus   Terrestrial planet  0.949   -243.02  FALSE
3 Earth   Terrestrial planet  1.000      1.00  FALSE
8 Neptune Gas giant           3.883      0.67   TRUE
7 Uranus  Gas giant           4.007     -0.72   TRUE
6 Saturn  Gas giant           9.449      0.43   TRUE
5 Jupiter Gas giant          11.209      0.41   TRUE

---
**Vectors** (one dimensional array): can hold numeric, character or logical values. The elements in a vector all have the same data type.

**Matrices** (two dimensional array): can hold numeric, character or logical values. The elements in a matrix all have the same data type.

**Data frames** (two-dimensional objects): can hold numeric, character or logical values. Within a column all elements have the same data type, but different columns can be of different data type.

## Lists, why would you need them?
A **list** in R is similar to your to-do list at work or school: the different items on that list most likely differ in length, characteristic, and type of activity that has to be done.

A list in R allows you to gather a variety of objects under one name (that is, the name of the list) in an ordered way. These objects can be matrices, vectors, data frames, even other lists, etc. It is not even required that these objects are related to each other in any way.

## Creating a list
Let us create our first list! To construct a list you use the function `list():`
```r
my_list <- list(comp1, comp2 ...)
```
The arguments to the list function are the list components. Remember, these components can be matrices, vectors, other lists, …

In [66]:
# Vector with numerics from 1 up to 10
my_vector <- 1:10 

# Matrix with numerics from 1 up to 9
my_matrix <- matrix(1:9, ncol = 3)

# First 10 elements of the built-in data frame mtcars
my_df <- mtcars[1:10,]

# Construct list with these different elements:
my_list <- list(my_vector, my_matrix, my_df)

## Creating a named list
Well done, you're on a roll!

Just like on your to-do list, you want to avoid not knowing or remembering what the components of your list stand for. That is why you should give names to them:
```r
my_list <- list(name1 = your_comp1, 
                name2 = your_comp2)
```
This creates a list with components that are named `name1`, `name2`, and so on. If you want to name your lists after you've created them, you can use the `names()` function as you did with vectors. The following commands are fully equivalent to the assignment above:
```r
my_list <- list(your_comp1, your_comp2)
names(my_list) <- c("name1", "name2")
```

In [67]:
# Adapt list() call to give the components names
my_list <- list(vec=my_vector, mat=my_matrix, df=my_df)

# Print out my_list
my_list

$vec
 [1]  1  2  3  4  5  6  7  8  9 10

$mat
     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

$df
                   mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360        14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D         24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230          22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280          19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4

## Creating a named list (2)
Being a huge movie fan (remember your job at LucasFilms), you decide to start storing information on good movies with the help of lists.

Start by creating a list for the movie "The Shining".

In [71]:
mov <- "The Shining"
act <- c("Jack Nicholson", "Shelley Duvall", "Danny Lloyd", "Scatman Crothers", "Barry Nelson")

scores <- c(4.5, 4.0, 5.0)
sources <- c("IMDb1", "IMDb2", "IMDb3")
comments <- c("Best Horror Film I Have Ever Seen", "A truly brilliant and scary film from Stanley Kubrick", "A masterpiece of psychological horror")

rev <- data.frame(scores, sources, comments)

In [72]:
shining_list <- list(moviename = mov, actors = act, reviews = rev)

## Selecting elements from a list
Your list will often be built out of numerous elements and components. Therefore, getting a single element, multiple elements, or a component out of it is not always straightforward.

One way to select a component is using the numbered position of that component. For example, to "grab" the first component of `shining_list` you type
```r
shining_list[[1]]
```
A quick way to check this out is typing it in the console. Important to remember: to select elements from vectors, you use single square brackets: `[ ]`. Don't mix them up.

You can also refer to the names of the components, with `[[ ]]` or with the `$` sign. Both will select the data frame representing the reviews:
```r
shining_list[["reviews"]]
shining_list$reviews
```
Besides selecting components, you often need to select specific elements out of these components. For example, with `shining_list[[2]][1]` you select from the second component, `actors` (`shining_list[[2]]`), the first element (`[1]`). When you type this in the console, you will see the answer is Jack Nicholson.

In [75]:
# Print out the vector representing the actors
shining_list$actors

[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

In [76]:
# Print the second element of the vector representing the actors
shining_list[[2]][2]

[1] "Shelley Duvall"

In [78]:
movie_title <- "The Departed"
movie_actors <- c("Leonardo DiCaprio", "Matt Damon", "Jack Nicholson", "Mark Wahlberg", "Vera Farmiga", "Martin Sheen")

# Use the table from the exercise to define the comments and scores vectors
scores <- c(4.6, 5, 4.8, 5, 4.2)
comments <- c("I would watch it again", "Amazing!", "I liked it", "One of the best movies", "Fascinating plot")

# Save the average of the scores vector as avg_review  
avg_review <- mean(scores)

# Combine scores and comments into the reviews_df data frame
reviews_df <- data.frame(scores, comments)

# Create and print out a list, called departed_list
departed_list <- list(movie_title, movie_actors, reviews_df, avg_review)

departed_list

[[1]]
[1] "The Departed"

[[2]]
[1] "Leonardo DiCaprio" "Matt Damon"        "Jack Nicholson"
[4] "Mark Wahlberg"     "Vera Farmiga"      "Martin Sheen"

[[3]]
  scores               comments
1    4.6 I would watch it again
2    5.0               Amazing!
3    4.8             I liked it
4    5.0 One of the best movies
5    4.2       Fascinating plot

[[4]]
[1] 4.72